@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 195 27% 94%;
    --foreground: 193 49% 10%;
    --card: 195 30% 99%;
    --card-foreground: 193 49% 10%;
    --popover: 195 30% 99%;
    --popover-foreground: 193 49% 10%;
    --primary: 193 49% 20%;
    --primary-foreground: 0 0% 98%;
    --secondary: 195 25% 88%;
    --secondary-foreground: 193 49% 20%;
    --muted: 195 25% 88%;
    --muted-foreground: 193 25% 40%;
    --accent: 165 12% 48%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 195 20% 85%;
    --input: 195 20% 85%;
    --ring: 193 49% 20%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 193 40% 5%;
    --foreground: 0 0% 98%;
    --card: 193 40% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 193 40% 5%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 193 49% 20%;
    --secondary: 193 40% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 193 40% 15%;
    --muted-foreground: 195 20% 60%;
    --accent: 165 12% 48%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 193 40% 15%;
    --input: 193 40% 15%;
    --ring: 165 12% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }
}

.top-bar-clip {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
}
